.checkoutbutton {
  display: flex;
  align-items: center;
}

.noerror {
  margin-left: 5px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  width: 75%;
  font-weight: 10px;
}

.showerror {
  margin-left: 5px;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
  width: 75%;
  font-weight: 10px;
}

