.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  margin: 2px;
}
