.card {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  background-color: #fafafa00;
  color: white;
  border: solid 0.5px white;
  width: 20rem;
  color: rgb(49, 49, 49);
}

.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgb(126, 126, 126);
}
